<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/estatico/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/estatico/css/fontawesome.min.css" />
    <link rel="stylesheet" href="/estatico/css/casadocodigo.css" />
</head>
<body>
    <header class="cabecalhoPrincipal">

    </header>
    <main class="conteudoPrincipal">
        <div class="container">
            <h1>Canary Tasks - Home</h1>
        </div>
    </main>
</body>
</html>