<html>
<head>

</head>
<body>
    <header class="cabecalhoPrincipal">
    <include-html('../menu.html')/>
    </header>
    <main class="conteudoPrincipal">
        <div class="container">
            <h1> Bem vindo ao Canary Tasks</h1>
            <h2>seu sistema de envio de serviços</h2>
        </div>
    </main>
</body>
</html>